body {
      font-family: Arial, sans-serif;
      color: #6fda98;
      background: linear-gradient(to bottom, #666, #000);
      height: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    .logo {
      color: #6fda98;
    font-weight: bold;
  font-size: 30px;  
  letter-spacing: 5px;  
  font-family: 'Audiowide', sans-serif;
}

 .hero {
  gap: 30px;
  margin: 0;
  font-size: 20px;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;  
      align-items: center;
      text-align: center;
      position: relative;
    }

    .btn {
      font-family: 'Orbitron', sans-serif;
      background: #6fda98;
      color: black;
      padding: 10px 25px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
    }

    .btn:hover {
      opacity: 0.15;
    }

.navbar {
  width: 100%;
  background: #0B0C10;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 22px;  
  flex-wrap: wrap; 
}

.nav-links a {
  font-family: 'Orbitron', sans-serif;
  color: #6fda98;
  text-decoration: none;
  font-size: 25px;
  transition: 0.15s;
}

.nav-links a:hover {
  opacity: 0.20;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .nav-links {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 14px;
  }
}


/* PAGE2 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  background-color: #000;
  color: #6fda98;
}

/* HEADER */
header {
  background-color: #0B0C10;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #6fda98;;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: bold;
}

nav a {
  color: #6fda98;
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
}

nav a:hover {
  text-decoration: none;
  opacity: 0.20;
}

/* MAIN CONTENT */
main {
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 160px 40px 40px;
  background: linear-gradient(#555, #000);
}

main h1 {
  color: #6fda98;;
  font-size: 36px;
  margin-bottom: 15px;
}

main p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.5;
}

.chords img {
  height: 25%;
  width: 25%;
  padding: 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: block;
    margin: 8px 0;
  }

  main h1 {
    font-size: 28px;
  }

  main p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 40px 15px;
  }

  main h1 {
    font-size: 24px;
  }

  main p {
    font-size: 12px;
  }
}
